
.main-link{
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 2px solid #2bce34; 
    border-radius: 10px;
    margin: 5px;
}
.main-link:hover{
    background-color: #2bce34;
    color: white;

}