.info-box{
    padding: 30px;
    box-shadow: 0px 0px 5px 1px #ccc;
}
.info-box-title{
    font-size: 26px;
    position: relative;
}
.info-box-title::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -5%;
    width: 12px;
    height: 3px;
    box-shadow: 0px 0px 5px 2px #689af1;
    background-color: #2774f5;
}

.detail-icon{
    width:42px;
    color: #2774f5;
}

.info-box-detail{
    display: flex;
    justify-content: space-between;
}
.detail-count{
    font-size: 22px;
}
.detail-text{
    color: #6e6c6c;
}